body{
  margin:0;
  font-family:Arial;
  text-align:center;
  color:#fff;
  background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),
  url("https://images.unsplash.com/photo-1544829099-b9a0c07fad1a");
  background-size:cover;
}

.card{
  width:360px;
  margin:20px auto;
  padding:20px;
  background:rgba(0,0,0,.6);
  border-radius:22px;
  box-shadow:0 0 25px gold;
}

input,button{
  padding:10px;
  border-radius:12px;
  border:none;
  margin-top:8px;
  width:90%;
}

button{
  background:#ffcc00;
  font-size:16px;
  cursor:pointer;
  width:auto;
}

.wheel-box{
  position:relative;
  width:260px;
  height:260px;
  margin:20px auto;
  display:none;
}

.pointer{
  position:absolute;
  top:-18px;
  left:50%;
  transform:translateX(-50%);
  border-left:14px solid transparent;
  border-right:14px solid transparent;
  border-bottom:26px solid white;
  z-index:10;
}

#result-label{
  position:absolute;
  top:-40px;
  left:50%;
  transform:translateX(-50%);
  background:black;
  padding:6px 12px;
  border-radius:12px;
  border:2px solid gold;
  display:none;
}

.wheel{
  width:100%;
  height:100%;
  border-radius:50%;
  border:10px solid gold;
  transition:transform 4s ease-out;
  background:conic-gradient(
    #e91e63 0deg 72deg,
    #2196f3 72deg 144deg,
    #ffeb3b 144deg 216deg,
    #4caf50 216deg 288deg,
    #f44336 288deg 360deg
  );
  position:relative;
}

.segment{
  position:absolute;
  top:50%;
  left:50%;
  transform-origin:0 0;
  font-size:16px;
  font-weight:bold;
  width:50%;
}

.frame{
  border:5px solid gold;
  border-radius:18px;
  padding:15px;
  margin-top:15px;
  animation:pop .5s;
}

@keyframes pop{
  from{transform:scale(.6);opacity:0}
  to{transform:scale(1);opacity:1}
}

img{
  width:220px;
  border-radius:15px;
}
